<mat-card style="height: 90%;">

  <mat-grid-list cols="5" rowHeight="0.5:1">
    <mat-grid-tile>
      <div class="main-div">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="margin-left-30">Cadastro</mat-card-title>
            <mat-card-subtitle class="margin-left-50">Cliente</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span class="material-icons icon">
              account_circle
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="cadastro-cliente"
            class="margin-left-30">Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="main-div">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="margin-left-30">Cadastro</mat-card-title>
            <mat-card-subtitle class="margin-left-50">Veículo</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span class="material-icons icon">
              commute
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="cadastro-veiculo"
            class="margin-left-30">Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <div class="main-div">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="margin-left-30">Locação</mat-card-title>
            <mat-card-subtitle class="margin-left-50">Aluguel</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span class="material-icons icon">
              local_atm
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"  routerLink="registro-aluguel"
            class="margin-left-30">Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="main-div">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="margin-left-30">Devolução</mat-card-title>
            <mat-card-subtitle class="margin-left-50">Aluguel</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span class="material-icons icon">
              local_atm
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="devolucao"
            class="margin-left-30">Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="main-div">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title class="margin-left-30">Relatório</mat-card-title>
            <mat-card-subtitle class="margin-left-30">Alguel/Cliente</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span class="material-icons icon">
              recent_actors
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="relatorio"
            class="margin-left-30">Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
